.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

.dms-modal {
.modal-content {
    border-radius: 0;
  }
  .modal-title {
    text-align: center;
  }
  .modal-footer {
    text-align: center;
    }
@media (min-width: 768px) {
	.modal-dialog {
    	margin: 275px auto;
    }
}
.progress-bar {
        color: #ACD4ED;
        background-color: #199DE0;
	}
}