.test-left {
	margin-left: 110px;
}

.item-wrapper a{
    display: inline !important;     
}

.item-wrapper{
    display: inline;
    position: relative;
}

    .item-wrapper form {
        position: absolute;
        bottom: -65px;
        background: #FFF;
        border: 1px solid #AAA;
        border-radius: 5px;
        padding: 7px;
        width: 220px;
        display: inline-block;
        left: 50%;
        margin-left: -110px;
        z-index: 101;
    }

    .item-wrapper form:before{
        content:"";
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;	
        border-bottom: 10px solid #AAA;
        position:absolute;
        //bottom:-10px;
        top: -10px;
        left:100px;
    }

    .item-wrapper form:after{
        content:"";
        width:0;
        height:0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;	
        border-bottom: 9px solid #FFF;
        position:absolute;
        //bottom:-9px;
        top:-9px;
        left:101px;
    }

.editable-input{
     width:114px !important;   
}

select.editable-input{
 width: 114px; 
}

/* ................... */
.popover-input {
 width:75%;
 display: inline;
 }
