.suppliergrid{
    width: 100%;
    height:100%;
    margin-bottom: 5px;
  }

  .contentgrid{
    width: 100%;
    height:100%;
    margin-bottom: 5px;
  }
 
 .SimpleEventReminderChkBox{
 	height:34px;
 }
 
 .SimpleEventDeleteBtn{
 	margin-left:10px!important;
 }
 
 .SimpleEventSaveBtn{
 	margin-left:10px!important;
 }
 
 .SimpleEventPublishBtn{
  	margin-left:10px!important;
 }
 
 .SimpleEventActionBtnGrp{
 	float:right;
 }
 
.SimpleEventItemGridBtnGrp{
 	float:right;
 }

 .SimpleEventSupplierGridBtnGrp{
 	float:right;
 }

 .SimpleEventExcelImportBtn{
 	margin-left:10px!important;
 }

 .header{
 	margin-top:40px;
 }

 .templateName{
 	text-align:left!important;
 }

 .templateDialogTemplateTitle{
 	margin-right:5px!important;
 }

 .icon-success {
     color: #5CB85C;
     font-size:20px;
 }

 .modal-header{
    text-align:left;
 }

 .modal-body{
    text-align:left;
 }