.row-inline {
	display: inline;
}
.flex-inline {
	display: inline-flex;
}
.text-right {
 	text-align:right;
}
.top-mid {
 	margin-top:40px;
 }
.top-sm-mid {
	padding-top:20px;
}
.top-sm {
 	padding-top:7px;
 }
.float-right {
	float: right;
}
.red-text {
	color:#DB524B;
}
.gray-text {
	color:#767676;
	font-weight: normal;
}
.dms-del-btn {
	padding-left: 50px;
}
.dms-row-top {
	padding-top: 16px
}
