.period-error {
	padding-right: 92px;
    float: right;
}
.start-on-lbl{
	text-align: right;
    padding-top: 5px;
    padding-right: 16px;
    color: #767676;
    width: 95px;
    word-wrap: break-word;
}
