.dms-form-label {
	width: 175px;
	text-align: right;
	display: inline-block;
	float: left;
	padding-right: 15px;
}
.dms-input-md-dfl {
	width: 270px;
	height: 30px;
}
.dms-input-x-sm {
	width: 80px;
	height: 30px;
}
.dms-input-sm {
	width: 175px;
	height: 30px;
}
.dms-form-input {
	display: inline-block;
	width: 270px;
}
.dms-container {
	min-width: 1280px;
}
.dms-left-column{
float: left;
width: 480px; /*Width of left column in pixels*/
}
.dms-right-column{
float: left;
width: 450px; /*Width of right column in pixels*/
}

